<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Profile</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-4 text-center">
        <img src="{{ site.baseurl }}/assets/images/about/profile.png" style="width: 200px; height: auto; border: 8px solid #155E95; border-radius: 10%;">
      </div>
      <div class="col-4">
        <p class="font-secondary paragraph-lg text-dark">✅ 나만의 속도로 꾸준히 노력하기<br>✅ 현실에 안주하기 않기<br>✅ 행복한 삶을 살기</p>
        <a href="/about" class="btn btn-primary" style="padding-top:8px; padding-bottom:8px;">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-40">
        <div class="d-flex">
          <div class="mr-lg-3 mr-3">
            <i class="ti-user icon icon-bg icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4 class="mt-lg-4 mt-4">이름</h4>
            <p class="mt-2 mb-3 text-light">선재영</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-40">
        <div class="d-flex">
          <div class="mr-lg-3 mr-3">
            <i class="ti-calendar icon icon-bg icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4 class="mt-lg-4 mt-4">생년월일</h4>
            <p class="mt-2 mb-3 text-light">2002.02.06</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-40">
        <div class="d-flex">
          <div class="mr-lg-3 mr-3">
            <i class="ti-book icon icon-bg icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4 class="mt-lg-4 mt-4">학력</h4>
            <p class="mt-2 mb-3 text-light">경희대학교 소프트웨어융합학과</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-40">
        <div class="d-flex">
          <div class="mr-lg-3 mr-3">
            <i class="ti-search icon icon-bg icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4 class="mt-lg-4 mt-4">관심사</h4>
            <p class="mt-2 mb-3 text-light">3D Character Animation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>